body {
			font-family: Georgia;
		}
		#page {
			padding-top: 18%;
		}
		#true {
			color: #009A00;
			font-weight: bold;
		}
		#false {
			color: #A90000;
			font-weight: bold;
		}
		#card {
			background-color: #1C6EA420;
			box-shadow: 8px 8px #1C6EA4;
			width: 35%;
		}

		#invisible {
			color:  transparent;
		}
		#stats {
			padding-top: 20px;
		}
		#nav {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		#modal {
			position: absolute;
			top: 5%;
			left: 32.5%;
			background-color: #1C6EA420;
			box-shadow: 8px 8px #1C6EA4;
			width: 35%;
			height: 50px;
		}
		input {
			background-color: #EAEAEA;
			border-radius: 2px;
			border:  none;
			height: 20px;
		}
		button {
			margin-left: 8px;
			background-color: #EAEAEA;
			border-radius: 2px;
			border:  none;
			height: 20px;
		}